:root {
    --font-heading-1: 400 24px/28px 'RedCollar', 'Arial';
    --font-heading-2: 400 16px/16px 'RedCollar', 'Arial';
    --font-paragraph-main: 400 20px/24px 'TT Commons', 'Arial';
    --font-paragraph-description: 400 18px/24px 'TT Commons', 'Arial';

    --color-black: #000000;
    --color-red: #F51B1B;
    --color-white: #FFFFFF;
    --color-gray: #666666;
}