@font-face {
    font-family: 'RedCollar';
    src:
        url('../../fonts/redcollar.woff2') format('woff2'),
        url('../../fonts/redcollar.woff') format('woff'),
        url('../../fonts/redcollar.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'TT Commons';
    src:
        url('../../fonts/tt-commons-400.woff2') format('woff2'),
        url('../../fonts/tt-commons-400.woff') format('woff'),
        url('../../fonts/tt-commons-400.ttf') format('truetype');
    font-weight: 400;
}